version: "3.8"

services:
  ovh-dyndns-client:
    image: cibrandocampo/ovh-dyndns-client:${DOCKER_OVH_VERSION:-stable}
    container_name: ${COMPOSE_PROJECT_NAME}_dyndns-client
    init: true
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - dyndns
    volumes:
      - ovh-hosts-config:/app/hosts.json
    healthcheck:
      test: ["CMD", "test", "-f", "/app/hosts.json"]
      interval: 5m
      timeout: 30s
      retries: 3
      start_period: 1m

volumes:
  ovh-hosts-config:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "${HOSTS_CONFIG_FILE_PATH}"

networks:
  dyndns:
    driver: bridge
