services:
  ovh-dyndns-client:
    image: cibrandocampo/ovh-dyndns-client:${DOCKER_OVH_VERSION:-stable}
    container_name: ${COMPOSE_PROJECT_NAME:-ovh-dyndns}_client
    init: true
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - dyndns
    ports:
      - "${API_PORT:-8000}:8000/tcp"
    volumes:
      - dyndns-data:/app/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/health"]
      interval: 1m
      timeout: 30s
      retries: 3
      start_period: 30s

volumes:
  dyndns-data:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "${DATA_PATH}"

networks:
  dyndns:
    driver: bridge
